{% extends 'base.html' %}
{% block content %}
    <h1>{{ todo.title }}</h1>
    {% if request.user == todo.user %}
        <div style="text-align:right">
            <a href="{% url 'todo:update' todo.pk %}">수정</a>
            <form action="{% url 'todo:delete' todo.pk %}" method="post" style="display: inline">
                {% csrf_token %}
                <button>삭제</button>
            </form>
        </div>
    {% endif %}
<hr>
<p>{{ todo.description }}</p>

<a href='{% url 'todo:list' %}'>목록으로 돌아가기</a>
{% endblock %}