{% extends 'base.html' %}
{% block content %}
<h1>todo 목록 {{ count }}</h1>
    <p style="text-align: right">
        <a href="{% url 'todo:create' %}">생성</a>
    </p>
{% for todo in object_list %}
    <p>
        <a href="{% url 'todo:detail' todo.pk %}">
            {% if todo.get_thumbnail_image_url %}
                <img src="{{ todo.get_thumbnail_image_url }}" alt="" class="col-2">
            {% endif %}
            {{ todo.id }} | {{ todo.title }}
            <span>
                ({{ todo.user.username }})
            </span>  - {{ todo.created_at | date:'Y-M-D' }}
        </a>
    </p>
{% endfor %}
    {% include 'pagination.html' %}
{% endblock %}